src/test/resources/io/github/alexpercont/plugins/xjc/schema_01.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://github.io/alexpercont/plugins/xjc/test/schema"
        xmlns:tst="http://github.io/alexpercont/plugins/xjc/test/schema">

    <complexType name="person">
        <attribute name="name" type="string" use="required" />
        <attribute name="dob" type="date" use="required" />
    </complexType>

    <element name="people">
        <complexType>
            <sequence>
                <element name="person" type="tst:person" maxOccurs="unbounded" />
            </sequence>
        </complexType>
    </element>

</schema>